[Unit]
Description=argus
After=network.target

[Service]
Type=simple
ExecStart=/home/fieldju/.sdkman/candidates/java/current/bin/java \
    -Djava.security.egd=file:/dev/./urandom \
    -Djava.awt.headless=true -Dfile.encoding=UTF-8 \
    -Djdk.tls.client.protocols=TLSv1.2 \
    -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005 \
    -jar /home/fieldju/dev/bin/argus/sb-app.jar
RestartSec=300
Restart=on-failure
StandardOutput=append:/home/fieldju/dev/bin/argus/stdout.log
StandardError=append:/home/fieldju/dev/bin/argus/stderr.log

[Install]
WantedBy=multi-user.target